<ion-header>
  <ion-toolbar>
    <ion-title>Formulaire d'ajout de professeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <ion-item>
        <ion-label position="floating" color="primary">Nom du professeur</ion-label>
        <ion-input type="text" class="form-control" formControlName="nom"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="form.controls['nom'].invalid && (form.controls['nom'].dirty || form.controls['nom'].touched)" class="alert alert-danger">
      Nom
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label position="floating" color="primary">Prénom du professeur</ion-label>
        <ion-input type="text" class="form-control" formControlName="prenom"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="form.controls['prenom'].invalid && (form.controls['prenom'].dirty || form.controls['prenom'].touched)" class="alert alert-danger">
      Prénom
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label position="floating" color="primary">Photo</ion-label>
        <ion-input type="text" class="form-control" formControlName="urlPhoto"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="form.controls['urlPhoto'].invalid && (form.controls['urlPhoto'].dirty || form.controls['urlPhoto'].touched)" class="alert alert-danger">
      Photo
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label position="floating" color="primary">Années d'expérience</ion-label>
        <ion-input type="text" class="form-control" formControlName="age"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="form.controls['age'].invalid && (form.controls['age'].dirty || form.controls['age'].touched)" class="alert alert-danger">
      Années d'expérience
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.pristine || form.invalid">Ajouter le cours</button>
    </div>
  </form>
</ion-content>
