<ion-header>
  <ion-toolbar>
    <ion-title>Liste des cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset ="true">
    <ion-item *ngFor="let elt of cours">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{elt.name}}</ion-card-title>
          <ion-card-subtitle> Tenu par le professeur {{elt.professeur}} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Nb étudiants : {{elt.nbEtudiants}}
        </ion-card-content>
        <button type="button" id="delete" class="btn btn-danger" (click)="deleteCours(elt)">Supprimer</button>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button>
    <a routerLink="/home">HOME</a>
  </ion-button>
  <ion-button>
    <a routerLink="/add-cours">Ajouter un cours</a>
  </ion-button>
</ion-content>
