<ion-header>
  <ion-toolbar>
    <ion-title>Liste des cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset ="true">
    <ion-item *ngFor="let elt of cours">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{elt.name}}</ion-card-title>
          <ion-card-subtitle>Sous-titre</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Nb étudiants : {{elt.nbEtudiants}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <a routerLink="/home">HOME</a>
</ion-content>
